* {
  color: white;
  letter-spacing: 1px;
}
body {
  background: #282c34;
  overflow-x: hidden;
}

.App {
  overflow: auto;
  scroll-direction: horizontal;
  scroll-behavior: smooth;
  text-align: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.App > ul {
  list-style: none;
  display: flex;
  align-items: center;
  max-width: 100vw;
  scroll-behavior: auto;
  overflow-x: hidden;

  margin: 0;
  padding: 0;
}
.App > ul > li{
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;

}

.Page {
  width: 100vw;
  height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: center;

}